In [2]:
pip install kafka-python

Requirement already satisfied: kafka-python in c:\users\ravin\appdata\local\programs\python\python312\lib\site-packages (2.0.3.dev0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install six

Requirement already satisfied: six in c:\users\ravin\appdata\local\programs\python\python312\lib\site-packages (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install --upgrade kafka-python

Requirement already satisfied: kafka-python in c:\users\ravin\appdata\local\programs\python\python312\lib\site-packages (2.0.3.dev0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install --upgrade six

Requirement already satisfied: six in c:\users\ravin\appdata\local\programs\python\python312\lib\site-packages (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
from time import sleep
from json import dumps
import json

In [7]:
from kafka import KafkaProducer

In [8]:
producer = KafkaProducer(bootstrap_servers=['3.93.0.210:9092'], #change ip here
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [10]:
producer.send('demo_testing2', value={'hello':'ravindu'})

In [14]:
df = pd.read_csv("C:/Users/ravin/Downloads/kafka/indexProcessed.csv")

In [15]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [16]:
df.sample(1).to_dict(orient="records")

[{'Index': '000001.SS',
  'Date': '2000-07-04',
  'Open': 1891.204956,
  'High': 1907.94397,
  'Low': 1888.249023,
  'Close': 1907.93103,
  'Adj Close': 1907.93103,
  'Volume': 0.0,
  'CloseUSD': 305.2689648}]

In [ ]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('demo_testing2', value=dict_stock)
    sleep(1)

In [ ]:
producer.flush() #clear data from kafka server